{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load mathfilters %}

<div class="container">
    <p class="welcome-msg">Welcome Educator, You can assign the subjects here!</p>

    <div class="add_subjects_formbox">
        <div class="form_message_box">
        {% for message in messages %}

        {{message}}

        {% endfor %}</div>
    <form action="" name="add_subjects" method="post">
        {% csrf_token %}
        <table align="center" width="100%">
            <tr >
                <td>Class </td>
                <td style="padding-bottom: 15px;">
                    <select name="class_number" id="class_number" class="option_style">
                        <option value="0">Select Class</option>
                        <option value="11">10+1 (11th)</option>
                        <option value="12">10+2 (12th)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Stream</td>
                <td>
                    <select name="class_name" id="class_name" class="option_style">
                        <option value="0">Select Stream</option>
                        <option value="non-medical">Physics-Chemistry-Mathematics (Non-Medical)</option>
                        <option value="medical">Physics-Chemistry-Biology (Medical)</option>
                        <option value="arts">Humanities</option>
                        <option value="commerce">Commerce</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Subject Type</td>
                <td>
                    
                    <input type="radio" name="subject_type" id="core" value="Core" class="" required /> Core
                    <input type="radio" name="subject_type" id="elective" value="Elective" class="" required /> Elective
                </td>
            </tr>
           


    <tr>
                <td>Select Subjects name & Code</td>
               <td>
                 <select name="subject_code" id="subject_name" class="option_style"><option value="0">Select Subject Code</option>{% for r in record_of_subjects|dictsort:'subject_code' %}<option value="{{r.subject_code}}">{{r.subject_code}}</option>{% endfor %} </select>
               
                    <select name="subject_name" id="subject_name" class="option_style"><option value="0">Select Subject Name</option>
                        {% for r in record_of_subjects|dictsort:'subject_code'  %}
                                                    
                            {% if forloop.counter|mod:2 == 0 %}
                        <option value="{{r.subject_name}}">{{r.subject_name}}</option>
                        {% endif %}
                        {% endfor %}

                    </select>
                </td>
             
            </tr>
            <tr>
                <td colspan="2">
 <input type="submit" name="submit" value="Assign Subjects" class="form_submit_button" />
                </td>
            </tr>

        </table>

           
        
    </form>
    </div>
    
</div>

                <script src="" async defer></script>
{% endblock content %}